doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  //- - var css = ['one','two','three']
  //- - for(var i = 0; i < css.length; i++)
    link(rel='stylesheet', href="/stylesheets/#{css[i]}.css")
  body
    block content