extends login

block more_input
  .form-group
    label.control-label#err_message(for="confirmPassword")
    label.sr-only.control-label(for="confirmPassword" ) Confirm Password
    input#confirmPassword.form-control(name="confirm" type="password" placeholder="Confirm Password" required)
block more_options
  .text-center
    a(href="/users/login/") Back to login

